# .coveragerc to control coverage.py
[run]
branch = True
omit =
    # omit anything in a migrations
    */migrations/*
    start-celery-for-dev.py
    bdn/ci_settings.py
    */apps.py
    */tests.py
    apps/bdn-proprietary/*
    bdn/utils/decorators.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about __str__
    def __str__

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True
